@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Text selection highlight */
@layer base {
  ::selection {
    @apply bg-green-200 text-green-900;
  }

  .dark ::selection {
    @apply bg-green-600 text-white;
  }
}

/* Theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-global);
  --font-mono: monospace; /* optional */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-global), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-light-primary {
    background-color: #fefdf2;
  }

  .bg-light-secondary {
    background-color: #fffef4;
  }

  .text-light-primary {
    color: #fefae0;
  }

  .bg-dark-primary {
    background-color: #344e41;
  }

  .bg-dark-secondary {
    background-color: #26312c;
  }

  .text-dark-primary {
    color: #151a1c;
  }

  .text-dark-secondary {
    color: #2b343b;
  }

  .text-light-orange {
    color: #dda15e;
  }

  .text-dark-orange {
    color: #bc6c25;
  }

  .bg-dark-orange {
    background-color: #bc6c25;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes livePulse {
  0% {
    box-shadow: 0 0 0 0 #344e41;
  }
  70% {
    box-shadow: 0 0 0 10px #344e4100;
  }
  100% {
    box-shadow: 0 0 0 0 #344e4100;
  }
}

.live-pulse {
  animation: livePulse 2s infinite;
}

.track {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(1rem, 2vw, 3rem);
}

/* tablet portrait */
@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

/* tablet landscape FIX (this is your main problem zone) */
@media (min-width: 900px) {
  .container {
    max-width: 860px;
  }
}

/* small laptop */
@media (min-width: 1024px) {
  .container {
    max-width: 980px;
  }
}

/* laptop */
@media (min-width: 1180px) {
  .container {
    max-width: 1140px;
  }
}

/* large screen */
@media (min-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}
.pixel {
  width: 100%;
  height: 100%;
}
