@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Text selection highlight */
@layer base {
  ::selection {
    @apply bg-green-200 text-green-900;
  }

  .dark ::selection {
    @apply bg-green-600 text-white;
  }
}

/* Theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
  --font-mono: monospace; /* optional */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-primary-light {
    background-color: #f2f4f3;
  }

  .bg-secondary-light {
    background-color: #fdfdfc
  }

   .bg-primary-dark {
    background-color: #22333B;
  }

  .text-green-dark-primary {
    color: #151a1c;
  }
}